<h1>What would you like to do?</h1>
<ul>
<li><a href="/new_product_form">Add a new product</a> </li>
<li>Delete a product</li>
<li>Modify a product</li>
<li>Show all products</li>
<li>Add a location</li>
<li>Delete a location</li>
<li>Modify a location</li>
<li>See all locations</li>
<li>Move product location</li>
<li>Fetch all products in a category</li>
<li>Fetch all products from a location</li>
<li>Inventory values</li>