<h1>What would you like to do?</h1>
<ul>
<li><a href="/new_product_form">Add a new product</a> </li>
<li><a href="/delete_product_form">Delete a product</a></li>
<li><a href="/modify_product_form">Modify a product</a></li>
<li><a href="/show_products">Show all products</a></li>
<li><a href="/new_location_form">Add a location</a></li>
<li><a href="/delete_location_form">Delete a location</a></li>
<li><a href="/modify_location_form">Modify a location</a></li>
<li><a href="/show_locations">See all locations</a></li>
<li><a href="/product_display_by_category">Display products by category</a></li>
<li><a href="/product_display_by_location">Display products by location</a></li>
<li><a href="/inventory_values">Inventory values</a></li>

</ul>