<h3>
  Log In
</h3>

<form action="/login_confirm">
  <p>
    Email - <input type="text" name="login[email]">
  </p>
  <p>
    Password - <input type="text" name="login[password]">
  </p>
  <input type="submit" value="Log In">
</form>